
  <h1 class="p-3">Stupid Coaching</h1>
  <p class="intro">Ask your coach anithing</p>
  <form action="/answer" data-turbo="false"  class="row g-2 p-3">

      <div class="col-auto">
        <input type="text" name="ask" class="form-control">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary"> Ask !</button>
      </div>

  </form>
