a {
  outline: none;
  text-decoration: none;
  margin: 5px;
}

.answer {
  margin: 5px;
  border-left: 5px solid grey;
  background-color: #FEFAE0;
  width: 33%;
}

.ask {
  margin-left: 5px;
  border-left: 5px solid grey;
  background-color: #E0E5B6;
  width: 33%;
}


.intro {
  margin-left: 5px;
  border-left: 5px solid grey;
  background-color: #E0E5B6;
  width: 20%;
}
